@{
    ViewData["Title"] = "Home Page";
}
<body>
    <header class="text-center">
        <h1 class="display-4">어서오고</h1>
        <h1 class="display-4">git webapppppp</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <ul>
            <li>배가</li>
            <li>좀 부</li>
            <li>름</li>
        </ul>
    </header>

</body>